In [51]:
import pandas as pd

df0 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-24-2020.csv");

In [55]:
df=df0.loc[(df0['Province_State'] == 'Washington')]
dfs=df[['Admin2','Confirmed','Deaths','Recovered']]
dfs=dfs.rename(columns={"Admin2": "County"})
dfs

            County  Confirmed  Deaths  Recovered
18           Adams          1       0          0
94          Asotin          0       0          0
188         Benton          9       3          0
468         Chelan          6       0          0
516        Clallam          4       0          0
530          Clark         13       4          0
611       Columbia          1       0          0
649        Cowlitz          3       0          0
816        Douglas          1       0          0
927          Ferry          0       0          0
980       Franklin          5       0          0
1018      Garfield          0       0          0
1093         Grant         23       1          0
1101  Grays Harbor          1       0          0
1357        Island         25       1          0
1423     Jefferson          8       0          0
1506          King       1170      87          0
1520        Kitsap         18       0          0
1521      Kittitas          5       0          0
1525     Klickitat          4       0          0
1652         Lewis          2       0          0
1684       Lincoln          1       0          0
1836         Mason          1       0          0
2126      Okanogan          0       0          0
2190       Pacific          0       0          0
2221  Pend Oreille          0       0          0
2265        Pierce        138       1          0
2515      San Juan          1       0          0
2625        Skagit         45       1          0
2627      Skamania          0       0          0
2634     Snohomish        614      16          0
2651       Spokane         29       0          0
2705       Stevens          1       0          0
2797      Thurston         11       0          0
2875    Unassigned        112       0          0
2936     Wahkiakum          0       0          0
2943   Walla Walla          1       0          0
3057       Whatcom         48       2          0
3073       Whitman          2       0          0
3143        Yakima         25       0          0

In [57]:
dfs.to_json(orient='split')

'{"columns":["County","Confirmed","Deaths","Recovered"],"index":[18,94,188,468,516,530,611,649,816,927,980,1018,1093,1101,1357,1423,1506,1520,1521,1525,1652,1684,1836,2126,2190,2221,2265,2515,2625,2627,2634,2651,2705,2797,2875,2936,2943,3057,3073,3143],"data":[["Adams",1,0,0],["Asotin",0,0,0],["Benton",9,3,0],["Chelan",6,0,0],["Clallam",4,0,0],["Clark",13,4,0],["Columbia",1,0,0],["Cowlitz",3,0,0],["Douglas",1,0,0],["Ferry",0,0,0],["Franklin",5,0,0],["Garfield",0,0,0],["Grant",23,1,0],["Grays Harbor",1,0,0],["Island",25,1,0],["Jefferson",8,0,0],["King",1170,87,0],["Kitsap",18,0,0],["Kittitas",5,0,0],["Klickitat",4,0,0],["Lewis",2,0,0],["Lincoln",1,0,0],["Mason",1,0,0],["Okanogan",0,0,0],["Pacific",0,0,0],["Pend Oreille",0,0,0],["Pierce",138,1,0],["San Juan",1,0,0],["Skagit",45,1,0],["Skamania",0,0,0],["Snohomish",614,16,0],["Spokane",29,0,0],["Stevens",1,0,0],["Thurston",11,0,0],["Unassigned",112,0,0],["Wahkiakum",0,0,0],["Walla Walla",1,0,0],["Whatcom",48,2,0],["Whitman",2,0,0],["Yakima",25,0,0]]}'