In [1]:
import pandas as pd
df_confirmed = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
df_deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv")

In [55]:
df_confirmed_wa = df_confirmed.loc[(df_confirmed['Province/State'] == 'Washington')]
df_deaths_wa = df_deaths.loc[(df_deaths['Province/State'] == 'Washington')]

In [56]:
df_deaths_wa=df_deaths_wa.rename(index={98: "Deaths"})
df_deaths_wa=df_deaths_wa.transpose().drop(index={'Lat','Long','Province/State','Country/Region'})
df_deaths_wa

        Deaths
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
...        ...
3/19/20     74
3/20/20     83
3/21/20     94
3/22/20     95
3/23/20     95

[62 rows x 1 columns]

In [57]:
df_confirmed_wa=df_confirmed_wa.rename(index={98: "Confirmed"})
df_confirmed_wa=df_confirmed_wa.transpose().drop(index={'Lat','Long','Province/State','Country/Region'})
df_confirmed_wa

        Confirmed
1/22/20         0
1/23/20         0
1/24/20         0
1/25/20         0
1/26/20         0
...           ...
3/19/20      1376
3/20/20      1524
3/21/20      1793
3/22/20      1996
3/23/20      1996

[62 rows x 1 columns]

In [68]:
df_combined_wa=df_confirmed_wa.join(df_deaths_wa)
df_combined_wa

        Confirmed Deaths
1/22/20         0      0
1/23/20         0      0
1/24/20         0      0
1/25/20         0      0
1/26/20         0      0
...           ...    ...
3/19/20      1376     74
3/20/20      1524     83
3/21/20      1793     94
3/22/20      1996     95
3/23/20      1996     95

[62 rows x 2 columns]

In [69]:
df_combined_wa.index=pd.to_datetime(df_combined_wa.index)
df_combined_wa

           Confirmed Deaths
2020-01-22         0      0
2020-01-23         0      0
2020-01-24         0      0
2020-01-25         0      0
2020-01-26         0      0
...              ...    ...
2020-03-19      1376     74
2020-03-20      1524     83
2020-03-21      1793     94
2020-03-22      1996     95
2020-03-23      1996     95

[62 rows x 2 columns]