In [69]:
import pandas as pd
df_confirmed = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
df_deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv")

In [93]:
df_confirmed_wa = df_confirmed.loc[(df_confirmed['Province/State'] == 'Washington')]
df_deaths_wa = df_deaths.loc[(df_deaths['Province/State'] == 'Washington')]

In [94]:
df_deaths_wa=df_deaths_wa.rename(index={98: "Deaths"})
df_deaths_wa=df_deaths_wa.transpose()
df_deaths_wa

                    Deaths
Province/State  Washington
Country/Region          US
Lat                47.4009
Long               -121.49
1/22/20                  0
...                    ...
3/19/20                 74
3/20/20                 83
3/21/20                 94
3/22/20                 95
3/23/20                 95

[66 rows x 1 columns]

In [95]:
df_confirmed_wa=df_confirmed_wa.rename(index={98: "Confirmed"})
df_confirmed_wa=df_confirmed_wa.transpose()
df_confirmed_wa

                 Confirmed
Province/State  Washington
Country/Region          US
Lat                47.4009
Long               -121.49
1/22/20                  0
...                    ...
3/19/20               1376
3/20/20               1524
3/21/20               1793
3/22/20               1996
3/23/20               1996

[66 rows x 1 columns]

In [99]:
df_combined_wa=df_confirmed_wa.join(df_deaths_wa)
df_combined_wa

                 Confirmed      Deaths
Province/State  Washington  Washington
Country/Region          US          US
Lat                47.4009     47.4009
Long               -121.49     -121.49
1/22/20                  0           0
...                    ...         ...
3/19/20               1376          74
3/20/20               1524          83
3/21/20               1793          94
3/22/20               1996          95
3/23/20               1996          95

[66 rows x 2 columns]